{% extends 'base.html' %} {% load static %} 
{% block title %} Home | TBRead {% endblock title %}
{% block styles %}
<link rel="stylesheet" href="{% static 'styles/home.css' %}" />
{% endblock styles %} 
{% block content %}
<main class="p-3 sm:p-5 flex flex-col">
    <h1 class="text-2xl sm:text-3xl font-semibold">Welcome to TBRead</h1>
    
    {% if keyword %}
        {% if books %}
            <p class="text-lg sm:text-xl">{{ books|length }} search results for `{{keyword}}`</p>
        {% else %}
            <p class="text-lg sm:text-xl">No search result found for `{{keyword}}`</p>
        {% endif %}
    {% else %}
        <p class="text-lg sm:text-xl">Currently, we have {{ books|length }} book(s)</p>
        
    {% endif %}
    <ul class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 gap-5 mt-8">
        {% for book in books %}
        <li class="rounded-md shadow bg-white relative">
            <a href="{% url 'book:Book Detail' book.id %}" class="">
          {% if user.is_authenticated %}
            <button class="absolute top-2 right-2 text-black text-xl w-8 shadow backdrop-blur bg-opacity-60 hover:bg-opacity-100 transition aspect-square bg-white rounded-full">
                <i class="fa-regular fa-bookmark"></i>
            </button>
          {% endif %}
            <img src="{{ book.image_l }}" alt="{{ book.title }}" class="rounded-t-md w-full aspect-[4/6] object-cover bg-slate-300" />
            <div class="p-3 pt-1 border-t-2 border-t-slate-200">
            <h3 class="text-lg sm:text-xl font-semibold max-w-[20ch] overflow-hidden truncate">{{ book.title }}</h3>
            <small>{{ book.author}}</small>
            </div>
        </a>
        </li>
        {% endfor %}
    </ul>
    
</main>
{% endblock content %}
{% block scripts %}
<script >

    async function getBooks(keyword) {
        const response = await fetch("{% url 'book:Get All Books' %}}");
        const data = await response.json();
        console.log(data)
        return data;
    }

    const searchInput = document.querySelector("#search-input");

</script>
{% endblock scripts %}