{% extends 'base.html' %} {% load static %} {% block styles %}
<link rel="stylesheet" href="{% static 'styles/home.css' %}" />
{% endblock styles %} {% block content %}
<main class="p-3 sm:p-5 flex flex-col">
    <h1 class="text-2xl sm:text-3xl font-semibold">Welcome to TBRead</h1>
    
    <!-- {% if keyword %}
        {% if books %}
            <p class="text-lg sm:text-xl">{{ books|length }} search results for `{{keyword}}`</p>
        {% else %}
            <p class="text-lg sm:text-xl">No search result found for `{{keyword}}`</p>
        {% endif %}
    {% else %}
        <p class="text-lg sm:text-xl">Currently, we have {{ books|length }} book(s)</p>
        
    {% endif %} -->

    <p class="text-lg sm:text-xl" id="jumlah_buku"></p>
    <ul class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 gap-5 mt-8 min-h-screen" id="book_list">
        <li class="w-10 aspect-square border-4 rounded-full border-slate-300 border-r-transparent animate-spin"></li>
    </ul>
    
</main>
{% endblock content %}
{% block scripts %}
<script>
    async function get_books(keyword){
        var formData = new FormData()
        formData.append("keyword", keyword)
        
        return await fetch("{% url 'book:get_books_json' %}",{
            method: "POST",
            body: JSON.stringify({'keyword': keyword}),
        }).then((res) => res.json())
    }
    async function refresh_books(){
        
        const keyword = document.getElementById("search").value

        var books = await get_books(keyword)

        var HTMLString = ''

        books.forEach((item, index) => {
            HTMLString += `<li class="rounded-md shadow bg-white relative"><a href="{% url 'book:Book Detail' 177013 %}">`.replace("177013", books[index].pk)
                            + '<img src="' + books[index].fields.image_l + '"alt="' + books[index].fields.title + '" class="rounded-t-md w-full aspect-[4/6] object-cover bg-slate-300" />'
                            + '<div class="p-3 pt-1 border-t-2 border-t-slate-200">'
                            + '<h3 class="text-lg sm:text-xl font-semibold max-w-[20ch] overflow-hidden truncate">' + books[index].fields.title + '</h3>'
                            + '<small>' + books[index].fields.author +'</small>'
                            + '</div></a></li>'
        });
        document.getElementById("book_list").innerHTML = HTMLString;

        HTMLString = ''
        if (keyword == ''){
            HTMLString = 'Currently, we have ' + books.length + ' book(s)'
        } else if (books.length == 0){
            HTMLString = "No search result found for '" + keyword + "'"
        } else{
            HTMLString = books.length + " search results for '" + keyword + "'"
        }
        document.getElementById("jumlah_buku").innerHTML = HTMLString
    }
    document.getElementById("search").onkeyup = refresh_books


    addEventListener("load", (event) => {refresh_books()});
</script>


{% endblock scripts %}