{% extends "base.html" %}

{% block content %}
    <h1 class="text-2xl font-semibold mt-2 mb-2 p-5">Publisher House(s)</h1>

    <div id="publisher-house-list" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-2">
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        refreshPublisherHouses();
    
        async function getPublisherHouses() {
            return fetch("{% url 'publisher:get_publisher_house' %}").then((res) => res.json());
        }
    
        async function refreshPublisherHouses() {
            const publisherHouses = await getPublisherHouses();
            let htmlString = "";
    
            publisherHouses.forEach((house) => {
                htmlString += `
                    <div class="bg-white p-5 mx-5 shadow-md rounded-md mb-4 hover:bg-blue-100">
                        <h2 class="text-xl font-bold text-sky-600 mb-2">${house.name}</h2>
                        <p class="text-sm text-gray-600">Est. ${house.year_established}</p>
                    </div>
                `;
            });
    
            document.getElementById("publisher-house-list").innerHTML = htmlString;
        }
    </script>
    
{% endblock content %}
