{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} TBRead {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'styles/global.css' %}" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    {% block styles %}{% endblock styles %}
  </head>
  <body class="">
    <nav class="sticky top-0 left-0 z-40 w-full shadow-md px-5 py-3 border-r-2 border-r-zinc-200 bg-zinc-50 bg-white flex items-center justify-between gap-5">
      <h1 class="text-2xl sm:text-3xl font-semibold text-center text-sky-600">
        <a href="{% url 'book:Home' %}">
          <i class="fa-solid fa-book-open-reader"></i>
          TBRead
        </a>
      </h1>
      <ul class="z-50 items-center justify-start gap-5 text-lg fixed top-0 -left-full origin-left flex flex-col md:flex-row md:static transition-all duration-500 bg-white md:bg-transparent w-full h-screen md:w-max md:h-min md:gap-5 p-5 md:p-0" id="navlinks">
        <li class="md:hidden">
          <h1 class="text-4xl font-semibold text-center text-sky-600">
            <a href="{% url 'book:Home' %}">
              <i class="fa-solid fa-book-open-reader"></i>
              TBRead
            </a>
          </h1>
        </li>
        <li class="">
          <form action="{% url 'book:Home' %}" method="GET">
            <input
              type="search"
              name="search"
              id="search"
              class="w-64 mx-auto px-1 py-0.5 border-2 border-slate-300 rounded-md outline-none"
              placeholder="Search"
            />
          </form>
        </li>
        <div class=" flex gap-3 justify-between items-center flex-col sm:flex-row">
          {% if user.is_authenticated %}
          <li class="">
            <a href="{% url 'reader:show_saved' %}">
              <i class="fa-solid fa-bookmark"></i>
              Bookmark
            </a>
          </li>
          <li class="">
            <a href="{% url 'reader:view_profile' %}" class="text-lg">
              <i class="fa-solid fa-user mr-1"></i>
              Profile
            </a>
          </li>
          <li class="">
          <a href="{% url 'Logout' %}" class="transition-colors hover:text-sky-500">
            <i class="fa-solid fa-arrow-right-from-bracket mr-1"></i>
            Logout
          </a>
          <a href="{% url 'publisher:create_book' %}" class="transition-colors hover:text-sky-500">
            Create book
            </a>
          {% else %}
          <a href="{% url 'Login' %}" class="transition-colors hover:text-sky-500">
            <i class="fa-solid fa-arrow-right-to-bracket mr-1"></i>
            Login
          </a>
          {% endif %}
        </div>
        <button class="md:hidden" id="closeNavBtn">
          <i class="fa-solid fa-times text-3xl"></i>
        </button>
        <div class="pb-20 md:hidden"/>
      </ul>
      <button class="md:hidden" id="openNavBtn">
        <i class="fa-solid fa-bars text-2xl"></i>
      </button>
    </nav>
    <div id="app" class="w-full min-h-screen overflow-y-auto bg-zinc-100">{% block content %} {% endblock content %}</div>
    <script>
      const navlinks = document.getElementById("navlinks");
      let isOpen = false;
      const openNavBtn = document.getElementById("openNavBtn");
      const closeNavBtn = document.getElementById("closeNavBtn");

      openNavBtn.addEventListener("click", () => {
          navlinks.classList.add("left-0");
          navlinks.classList.remove("-left-full");
      });

      closeNavBtn.addEventListener("click", () => {
        navlinks.classList.add("-left-full");
        navlinks.classList.remove("left-0");
    });
    
    

    </script>
    {% block scripts %} {% endblock scripts %}
  </body>
</html>
